* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #812727;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-weight: 300;
  color: white;
}

.centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hexBtn {
  padding: 12px 24px;
  font-size: 48px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  position: relative;
  background: rgba(255, 255, 255, 0.059);
  border: 0.2px solid #dadada25;
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

.hexBtn:active {
  transform: scale(0.96);
}

#Heart {
  color: white;
  font-size: 22px;
}

.like {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(163, 163, 163, 0.4);
  border-radius: 12px;
  cursor: pointer;
}

.like:active {
  transform: scale(0.95);
}

.likeCount {
  color: aliceblue;
  font-size: 18px;
}

#Copy{
    position: absolute;
    font-size: 20px;
    top: 6px;
    right: 8px;
    color: rgba(255, 255, 255, 0.797);
}

p{
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
    color: rgba(240, 248, 255, 0.75);
    font-weight: 500;
    letter-spacing: 0.5px;
}

